@media(max-with: 800px) {
    .nav__logo-img{
        width: 75px;

    }

    .nav__auth{
        display: none;

    }
    
    .nav__mobile-menu{
        display: block;
    }

}

/*responsive de la section main*/

@media(max-width: 800px){
    .main__hero-titre span{
        display: none;
    }

    .main__hero-des{
        display: none;
    }

    .main__hero-desp-mobile{
        display: block;
    }
}