/*responsive section header*/

@media (max-width: 768px)  {
    
    .nav__logo-img{
        width: 50%;

    }

    .nav__auth{

        display: none;

    }
    
    .nav__mobile-menu{
        display: block;
    }

}

/*responsive de la section main*/

@media(max-width: 768px){
    .main__hero-titre span{
        display: none;
    }

    .main__hero-des{
        display: none;
    }

    .main__hero-desp-mobile{
        display: block;
    }

    .main__features {
        grid-template-columns: 1fr;
    }
}

/* responsive section footer*/

@media(max-width: 1024px) {
    .footer{
        height: 300px;
    }

    .footer__container{
        flex-direction: column;
        gap: 50px;
        padding: 20px 10px;

    }
}

@media(max-width: 768px) {
    .footer__logo-img{
        width: 100%;
       
    }

    .footer__legal{
        flex-direction: column-reverse;
        align-items: center;

    }

    
}